/*Universal Styles */
body {
    margin:0;
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
    color: darkslategray;
    font-weight: bolder;
    font-family: calibri;
}

h2 { 
    font-size: 32px;
    color:darkslategray;
    font-family: calibri;
    font-weight: bold;
}

h3 {
}

h4{ 
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    font-family: calibri;
    font-weight: lighter;
}

h5 {
    font-size: 18px;
    color: black;
    font-family: calibri;
    font-weight: normal;
}

p {
    font-size: 24px;
    color: black;
    font-weight: lighter;
    font-family: Calibri;
    font-weight: lighter;
}

a {
    font-size: 16px;
    color: blue;
    font-family: calibri;
    text-decoration: none;
}

.title {
    text-align: center;
    padding: 32px 32px;
}

/*Header and Nav Bar */



.header-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 64px;
    position: fixed;
    z-index: 0;
    background-color: white;
}
@media only screen and (min-width:600px) {
    .header-nav .logo {
        display: flex;
    }

    .header-nav .logo p {
        font-size: 24px;
        color: black;
        text-transform: uppercase;
        font-family: calibri;
        font-weight: lighter;
        align-self: center;
    }

    .header-nav .nav-bar {
        display: flex;
        justify-content: space-between;
        padding-right: 24px;
        align-self: center;
    }

    .header-nav .nav-bar a {
        font-size: 18px;
        color: gray;
        font-family: calibri;
        text-decoration: none;
        padding-left: 16px;
    }

    .mobile-nav-bar {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .header-nav .logo {
        display: none;
    }

    .header-nav .mobile-nav-bar {
        display: flex;
        justify-content: space-between;
        padding-right: 24px;
        align-self: center;
    }
}

/* banner content */
.banner {
    background-color: lightgrey;
    display: flex;
}

.banner img{
    width: 60%;
    margin: 32px 24px;
}

.banner .CTA {
    align-self: center;
    margin-left: 24px;
}

.banner .CTA button {
    background-color: darkslategray;
    border: none;
    color:white;
    width: 100%;
    font-family: calibri;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Information content */

.information {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.information .spotlight {
    margin: 32px 24px;
    width: 60%;
}

.information .spotlight img {
    width: 100%;
}

.information .spotlight .caption {

}

.information .sidebar{
    width: 40%;
    justify-self: right;
    padding: 32px 16px;
    justify-self: flex-end;
    border: 2px solid lightgray;
    border-top: none;
    border-bottom: none;
    justify-content: space-around;
    height: 100%;
}

.information .orientation {
    display: flex;
    border-bottom: 2px solid lightgray;
}

.information .campus {
    display: flex;
    border-bottom: 2px solid lightgray;
}

.information .guest {
    display: flex;
    background-color: lightgray;
}
.information .sidebar .orientation img{
    display: block;
    width: 35%;
    height: auto;
    padding: 16px 16px;
}

.information .sidebar .campus img{
    display: block;
    width: 35%;
    height: auto;
    padding: 16px 16px;
}

.information .sidebar .guest img{
    display: block;
    width: 35%;
    height: auto;
    padding: 16px 16px;
}

.information .sidebar .orientation .text {
    flex-direction: column;
    width: 65%;
    padding: 8px 8px;
    border: none;
}

.information .sidebar .campus .text {
    flex-direction: column;
    width: 65%;
    border: none;
}

.information .sidebar .guest .text {
    flex-direction: column;
    width: 65%;
    border: none;
}

/* Start Learning style */

.start-learning {
    background-color: lightgray;
    max-width: 100%;
}



.start-learning .all-courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin-left:72px;
    margin-right: 72px;
    padding-bottom: 32px;
    width: 100%;
}

.start-learning .courses {
    background-color: white;
    margin: 32px;
    max-width: 27%;
}

.start-learning .courses img {
    max-width: 100%
}

.start-learning .image-container {
    max-width: 100%;
}

.start-learning .image-container .text {
    margin-left: 16px;
    margin-top: 16px;
    max-width: 100%;
}

/* Thesis exhibit content */

.thesis-exhibit {
}

.thesis-section {
    display: flex;
    justify-self: flex-end;

}

.video-and-caption {
    max-width: 60%;
    padding-left: 24px;
}

.thesis-exhibit .video {
    padding-right: 24px;
    padding-bottom: 24px;
    max-width: 100%;
    height: auto;
}
.thesis-exhibit video {
    max-width: 100%;
}

.thesis-exhibit .caption {
}

.thesis-exhibit .sidebar {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.thesis-img {
    width: 35%
}

.thesis-img img {
    width: 100%;
}

.fisma {
    background-color: lightgray;
    display: flex;
}

.now-then{
    display: flex;
}

.fisma .fisma-img {
    width: 35%;
    padding: 16px 16px;
}

.fisma .fisma-img img {
    width: 100%
}
.now-then .now-then-img {
    width: 35%;
    padding: 16px 16px;
}

.now-then .now-then-img img {
    width: 100%;
}

.fisma .fisma-txt {
    align-self: center;
}

.now-then .now-then-txt {
    align-self: center;
}

/* footer style */

.footer {
    border-top: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 16px;
    padding-left: 16px;
    
}

.footer p {
    font-size: 1rem;
}

.footer a {
    color: gray;
    align-self: center;
    text-decoration: none;
    padding: 10px;
}

.footer .terms {
    
}

/*mobile adaptations start here :( */

/*mobile navbar*/